---
import Layout from "../../layouts/Layout.astro"
import { t, getLocaleFromUrl } from "../../i18n/translations"

export function getStaticPaths() {
  return [{ params: { locale: "fr" } }, { params: { locale: "en" } }]
}

const locale = getLocaleFromUrl(Astro.url)
---

<Layout>
  <h1>{t(locale, "welcome")}</h1>
</Layout>
