---
const defaultLocale = "fr"
---

<!doctype html>
<html>
  <head lang={defaultLocale}>
    <meta charset="utf-8" />
    <noscript>
      <meta http-equiv="refresh" content={`0;url=/${defaultLocale}/`} />
    </noscript>
    <link rel="canonical" href={`${Astro.site}${defaultLocale}/`} />
    <script is:inline>
      const locale = localStorage.getItem("locale") || "fr"
      window.location.replace("/" + locale + "/")
    </script>
    <title>Maxime Hmae's portfolio</title>
  </head>
</html>
