
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

img {
  image-rendering: pixelated;
}

.container {
  width: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
}

.image-me {
  width: 100vh;
  object-fit: contain;
  position: absolute;
  transform: translate(0, 20%);
}

.image-impact {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 50vh;

  z-index: 1000;
}
